[Unit]
Description=Gunicorn instance for Flask App
After=network.target
[Service]
User=svreclcalusr
Group=svreclcalusr
WorkingDirectory=/var/www/mywebsite/flaskapp
Environment="PATH=/u01/Apps/EY_working/venv_eclengine/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Environment="DB_PASSWORD=Abcdef123456"
Environment="LDAP_BIND_PASSWORD=Abcdef@@123456"
ExecStart=/u01/Apps/EY_working/venv_eclengine/bin/gunicorn \
          --workers 3 \
          --bind 127.0.0.1:5010 \
          --timeout 10000 \
          app:app
Restart=on-failure
RestartSec=3
[Install]
WantedBy=multi-user.target

 